<!DOCTYPE html>
<html>
    <head>
        <title>ABOUT - SDF2CSV</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div class=header>
            <h1 align=center style="color: cornflowerblue;">ABOUT - SDF2CSV</h1>
        </div>
        <br>
        <div class=abt>
            <h4>What is SDF file format?</h4>
            <p>SDF (structure data file) is one of a family of chemical-data file formats developed by MDL. It consists of a series of molfiles containing structural information joined together, together with some additional information about the compounds. They are frequently used for sharing libraries of compound structure data.</p>
        </div>
        <div class=abt2>
            <h4>What is a csv file?</h4>
            <p>A CSV (Comma Separated Values) file is a plain text file that stores data by delimiting data entries with commas. CSV files are often used when data needs to be compatible with many different programs. CSVs can be opened in text editors, spreadsheet programs like Excel or libreoffice, or other specialized applications.</p>
        </div>
        <div class=abt3>
            <h4>SDF2CSV</h4>
            <p>SDF2CSV is a web application developed using Flask and RDkit libraries, to extract the contents from SDF MOL file to a CSV file.</p>
        </div>
        <div class=footer>
            <ul align=center>
                <li style="display: inline; padding-right: 5mm;"><a href="/">Home</a></li>
                <li style="display: inline; padding-right: 5mm;"><a href="/contact">Contact us</a></li>
            </ul>
        </div>
    </body>
</html>