<!DOCTYPE html>
<html>
    <head>
        <title>Contact - SDF2CSV</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    </head>
    <body>
        <div class=header>
            <h1 align=center style="color: cornflowerblue;">Contact</h1>
        </div>
        <br>
        <div class=Info>
            <ul>
                <li style="list-style-type: none;"><b style="font-size: 16px;">Ashwin Krishna Moochingal</b></li>
                <li style="list-style-type: none;"><b style="font-size: 14px;">Email : </b><a href="ashwinkrishna456@gmail.com">ashwinkrishna456@gmail.com</a></li>
                <li style="list-style-type: none;"><b style="font-size: 14px;">LinkedIn : </b><a href="www.linkedin.com/in/ashwin-krishna-ba74431bb">Ashwin Krishna</a></li>
                <li style="list-style-type: none;"><b style="font-size: 14px;">GitHub : </b><a href="https://github.com/AK-07-I?tab=repositories">AK-07-I</a></li>
            </ul>
            <br>
            </div>
            <div class=footer>
                <ul align=center>
                    <li style="display: inline; padding-right: 5mm;"><a href="/">Home</a></li>
                    <li style="display: inline; padding-right: 5mm;"><a href="/about">About</a></li>
                </ul>
            </div>
    </body>
</html>